.landing__form__outer{
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(34, 31, 83);
}
.landing__set1__img{
    width: 100%;
    height: 100% ;
}

.landing__set__img{
    display: flex;
}

.landing__set3{
    height: 100%;
    width: 100%;
}
.landing__set2{
    width: 100%;
    height: 20vh;
    display: grid;
    place-content: center;
}
.landing__form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.landing__div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.landing__text{
    align-items: center;
    color: white;
    font-size: 2.0em;
}

.input__email{
    height: 30px;
    width: 70%;
    margin-top: 2%;
    margin-bottom: 1%;
}



.signin__button{
    height: 30px;
    width: 20%;
    background-color: rgb(255, 236, 28);
} 


@media screen and (max-width:760px){

    .landing__set1{
        width: 100%;
        height: 100% ;        
    }

    .landing__set3{

        width: 100%;
        height: 100% ; 

    }
    img{
        width: 100%;
        height: 100% ;
    }

    .landing__text > span{
        font-size: 0.7em;
    
    }
    .landing__form__outer{
        height: 30vh;
        align-items: center;
    }

    .landing__form{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .landing__set2{

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .landing__text{
        align-items: center;
        color: white;
        font-size: 6.0vw;
    }

    .input__email{
        flex: 0.8;
        height: 20px;
        width: 100%;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .signin__button{
        flex: 0.15;
        height: 25px;
        width: 40%;
        background-color: rgb(255, 236, 28);
    } 

}